.recipe-manager {
  margin: 1rem;
}

.home-page {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 1rem;
}

.all-recipes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 1rem;
}

@media (max-width: 768px) {
  .all-recipes {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .recipe-manager h1 {
    text-align: center;
  }

  .all-recipes {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* TEMP */
.card-items {
  width: 100%;
  height: 100%;
}

.card-image-area img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.card-text-area {
  padding: 0.5rem 1rem;
  height: 100px;
}

.title {
  font-weight: 600;
  color: var(--dark-primary);
}

.desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
