<div class="center">
  <form class="form">
    <h2 class="title">Add new recipe</h2>
    <div class="form-control">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" />
    </div>
    <div class="form-control">
      <label for="description">Description</label>
      <textarea name="description" id="description" rows="5"></textarea>
    </div>
    <div class="form-control">
      <label for="imageUrl">Image Url</label>
      <input type="text" id="imageUrl" name="imageUrl" />
    </div>
    <div class="form-control">
      <label for="ingredients">Ingredients</label>
      <input type="text" id="ingredients" name="ingredients" />
    </div>
    <div class="btn-control">
      <button type="button" class="btn btn-secondary">Cancel</button>
      <button type="submit" class="btn btn-primary">Add Recipe</button>
    </div>
  </form>
</div>
