<div class="container">
  <div class="add-ing">
    <h2 class="colorful-text">All Ingredients</h2>
    <a routerLink="/shop/add-ing" class="btn btn-light">Add Ingredient</a>
  </div>
  <div class="center">
    <ul *ngIf="hasIngredients()">
      <app-ingredient-item
        *ngFor="let ingredient of ingredients"
        [ingredient]="ingredient"
      ></app-ingredient-item>
    </ul>
    <app-fallback-content
      *ngIf="!hasIngredients()"
      fallbackText="Ingredients will appear here..."
    ></app-fallback-content>
  </div>
</div>
