h2 {
  text-align: center;
}

ul {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.add-ing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  margin: 1rem auto;
}

.btn:hover {
  background-color: var(--dark-primary);
  color: var(--light-color);
}

.fallback {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
