<div class="backdrop"></div>
<section class="modal">
  <div class="header">
    <h1>Recipe Details</h1>
    <app-manage-recipe></app-manage-recipe>
  </div>
  <img [src]="selectedRecipe.imageUrl" alt="{{ selectedRecipe.name }}" />
  <div class="detail">
    <div class="text-div">
      <h3>{{ selectedRecipe.name }}</h3>
      <p>{{ selectedRecipe.description }}</p>
    </div>
    <div class="btn-div">
      <button class="btn btn-secondary" (click)="onClose(null)">Close</button>
    </div>
  </div>
</section>
