section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 90.5vh;

  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--light-color);
  box-shadow: 0 0 0.5rem 0 rgba(118, 17, 138, 0.5);
}

ul {
  height: 100%;
  box-shadow: 0.25rem 0 0.25rem 0 rgba(118, 17, 138, 0.25);
}

li {
  height: 70px;
  width: 100%;
}

a {
  color: var(--darker-primary);
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

a:hover,
a:active,
a.active {
  background-color: var(--secondary-color);
  box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.25);
}

.content {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding-top: 2rem;
  height: 100%;
}

@media (max-width: 550px) {
  section {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 3.5fr;
    height: 79.5vh;
  }

  ul {
    display: flex;
    box-shadow: none;
  }

  a {
    background-color: var(--primary-color);
    box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.25);
    color: var(--light-color);
  }

  a:hover {
    background-color: var(--light-primary);
    color: var(--dark-color);
  }

  a.active {
    background-color: var(--white-color);
    box-shadow: none;
    cursor: default;
    color: var(--dark-color);
  }
}
