li {
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-between;
  background-color: var(--light-white);
  padding: 0 1rem;
}

main {
  padding: 1rem;
}

p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.button-control {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
