li {
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-between;
  background-color: var(--light-white);
  padding: 0 1rem;
}

main {
  padding: 1rem;
}

.button-control {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.btn {
  text-transform: capitalize;
}

.btn-light {
  box-shadow: none;
  color: var(--dark-primary);
}

.btn-light:hover {
  background-color: var(--light-primary);
  color: var(--light-color);
}
